{
  "presets": [
    [ "@babel/preset-env", {
       "useBuiltIns": "entry",
       "debug": false,
       "targets": {
         "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
       },
     } ]
  ],

  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [ "@babel/plugin-proposal-pipeline-operator", {
      "proposal": "minimal"
    } ]
  ]
}
