{
  "parser": "babel-eslint",
  "root": true,
  "extends": [ "@codemachiner/eslint-config/targets/node" ],
  "settings": {
    "import/resolver": "node"
  },
  "rules": {
    "unicorn/filename-case": "off"
  }
}
