{
  "minify": false,
  "sourceMaps": true,
  "exclude": [".test.js", ".test-d.ts", ".d.ts"],
  "env": {
    "mode": "entry",
    "coreJs": 3
  },
  "jsc": {
    "parser": {
      "syntax": "ecmascript"
    },
    "externalHelpers": true
  },
  "module": {
    "type": "es6"
  }
}
